body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    background-color: rgb(120, 103, 226);
    
}

img {
    border: 345px;
    border-radius: 10%;
}